<nav class="mobile-nav">
    <a href="home.html" class="nav-item">
        <i data-lucide="home"></i>
    </a>
    <a href="about.html" class="nav-item">
        <i data-lucide="user"></i>
    </a>
    <a href="projects.html" class="nav-item">
        <i data-lucide="folder-open"></i>
    </a>
    <a href="writings.html" class="nav-item">
        <i data-lucide="book-open-text"></i>
    </a>
    <a href="skills.html" class="nav-item">
        <i data-lucide="briefcase"></i>
    </a>
    <a href="contact.html" class="nav-item">
        <i data-lucide="mail"></i>
    </a>
</nav>
